h1, p, body {
  margin: 0;
}
p,a{
  font-size: 20px;
}
header{
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  text-align: center;
}
header h1{
  color: rgb(255, 255, 255);
}
main{
  padding: 10px;
}
#parent{
  display: flex;
  justify-content:space-around;
}
.contents {
  border: 3px solid rgb(238, 204, 204); /* 線（太さ3px、実線、色rgb(238, 204, 204)）で囲む */
  flex-basis: 25%; /* 幅は親要素の25% */
  padding: 10px 15px; /* 要素内の余白は上下10px、左右15px */
  margin: 20px 0; /* 要素外の余白は上下20px、左右0px */
  text-align: center;
}
h2 {
  font-size: 25px; /* フォントサイズを25pxに設定 */
  border-bottom: 3px dotted rgb(236, 122, 122);
}

h2::before {
  color: rgb(239, 111, 139); /* 記号の色をrgb(239, 111, 139)に設定 */
  content: "●"; /* 前に「●」記号を表示 */
}
.contents p:nth-of-type(2)::first-letter {
  font-weight: bold; /* 太字 */
  color: rgb(97, 206, 249); /* 文字色をrgb(97, 206, 249)に設定 */
}
.contents img {
  margin: 10px 0; 
  width: 70%; 
}
footer{
  background-color: rgb(244, 79, 79);
  text-align: center;
}
footer a {
  color: rgb(255, 255, 255); 
}
footer a:visited {
  color: rgb(193, 234, 251);
}
footer a:hover {
  color: rgb(245, 178, 168);
}
@media (max-width: 768px) {
  h2 {
    font-size: 30px; /* h2のフォントサイズを30pxに設定 */
  }

  p {
    font-size: 25px; /* pのフォントサイズを25pxに設定 */
  }

  #parent {
    flex-direction: column; /* 要素を縦に並べる */
  }
}