#top {
  width: 800px; /* 横幅を800pxに設定 */
  background-color: #dcc9f4; /* 背景色を#dcc9f4に設定 */
  margin: 20px auto; /* 上下20pxの余白、中央に配置 */
  padding: 20px 0; /* 上下に20pxの内側余白 */
  text-align: center; /* 中のp要素を中央揃え */
}

/* .top-child要素のスタイル */
.top-child {
  display: inline-block; /* 横並びにするための設定 */
  width: 20%; /* 親要素の20%の幅 */
  background-color: #ffd9df; /* 背景色を#ffd9dfに設定 */
  text-align: center; /* p要素内のテキストを中央揃え */
  margin: 0 10px; /* p要素間の余白 */
}
/* #top要素のスタイル */
#middle {
  width: 800px; /* 横幅を800pxに設定 */
  height: 800px;
  background-color: #ffd9df; /* 背景色を#dcc9f4に設定 */
  margin: 20px auto; /* 上下20pxの余白、中央に配置 */
  box-sizing: border-box;
}

/* .top-child要素のスタイル */
#middle-child01, #middle-child02, #middle-child03{
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
/* #middle要素のスタイル */
#middle {
  width: 800px; /* 横幅を800pxに設定 */
  height: 800px; /* 高さを800pxに設定 */
  background-color: #ffd9df; /* 背景色を#ffd9dfに設定 */
  margin: 20px auto; /* 上下に20pxの余白、左右は中央に配置 */
  position: relative; /* 子要素の位置を相対的に設定 */
}

/* #middle-child01のスタイル */
#middle-child01 {
  width: 200px; /* 横幅を200pxに設定 */
  height: 200px; /* 高さを200pxに設定 */
  background-color: #87ceeb; /* 背景色を#87ceebに設定 */
  position: absolute; /* 親要素に対して絶対位置を設定 */
  top: 100px; /* 親要素の上から100pxの位置 */
  left: 100px; /* 親要素の左から100pxの位置 */
}

/* #middle-child02のスタイル */
#middle-child02 {
  width: 200px; /* 横幅を200pxに設定 */
  height: 200px; /* 高さを200pxに設定 */
  background-color: #87ceeb; /* 背景色を#87ceebに設定 */
  position: absolute; /* 親要素に対して絶対位置を設定 */
  top: 300px; /* 親要素の上から300pxの位置 */
  left: 300px; /* 親要素の左から300pxの位置 */
}

/* #middle-child03のスタイル */
#middle-child03 {
  width: 200px; /* 横幅を200pxに設定 */
  height: 200px; /* 高さを200pxに設定 */
  background-color: #87ceeb; /* 背景色を#87ceebに設定 */
  position: absolute; /* 親要素に対して絶対位置を設定 */
  top: 500px; /* 親要素の上から500pxの位置 */
  left: 500px; /* 親要素の左から500pxの位置 */
}
#bottom{
  width: 800px;
  height: 300px;
  margin: auto;
  background-color: #87ceeb;
}
#bottom-child01{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child03{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02{
  position: relative;
  left: 200px;
}
#bottom-child03{
  position: relative;
  left: 400px;
}